@using ymca_application.Extensions

@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<hr />

@*Administration tasks*@
<div class="row" style="display:flex">
    @*Manage programs*@
    <div class="col-md-4" style="display: flex; flex-direction: column;">
        <h4>Manage Programs</h4>
        <p>Manage available programs — add, remove, update programs and view all program participants depending on role level.</p>
        <br />
        <p style="margin-top: auto;"><a class="btn btn-default" href='@Url.Action("Programs", "Administration")'>Click here &raquo;</a></p>
    </div>
    @*If user has a manager role or above, display manage users*@
    @{ if (User.Identity.GetRole() >= 4)
        {
            <div class="col-md-4" style="display: flex; flex-direction: column;">
                <h4>Manage Users</h4>
                <p>Manage user accounts — add, disable, update user accounts and view personal information such as email or access level.</p>
                <p style="margin-top: auto;"><a class="btn btn-default" href='@Url.Action("Users", "Administration")'>Click here &raquo;</a></p>
            </div>
        }
    }
    @*Display documentation staff according to user role level*@
    <div class="col-md-4" style="display: flex; flex-direction: column;">
        <h4>Documentation</h4>
        <p>View website functionality documentation.</p>
        @{ if (User.Identity.GetRole() == 5)
            {
                <p style="margin-top: auto;"><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/IT_Manager_Manual.pdf")'>Click here &raquo;</a></p>
            }
            else if (User.Identity.GetRole() == 4)
            {
                <p style="margin-top: auto;"><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/Administrator_Manual.pdf")'>Click here &raquo;</a></p>
            }
            else
            {
                <p style="margin-top: auto;"><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/Staff_Manual.pdf")'>Click here &raquo;</a></p>
            }
        }
    </div>
</div>